<div class="d-flex justify-content-center mt-4">
    <div class="me-4"><button class="btn btn-outline-dark" (click)="previousDay()">Previo</button></div>
    <div class="me-4"><h2>Circulaciones de {{ currenDay() }}</h2></div>
    <div class="next-day"><button class="btn btn-outline-dark" (click)="nextDay()">Siguiente</button></div>
</div>

<div class="mt-4">
    <div class="search">
        <input type="text" name="search" id="search" placeholder="Buscar..." #searcher>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>NUMBER</th>
                    <th>STATE</th>
                    <th>ORIGIN</th>
                    <th>ORIGIN HOUR</th>
                    <th>DESTINATION</th>
                    <th>DESTINATION HOUR</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let circ of filteredCirculations; let i = index">
                    <td>{{ circ.originNumber }}</td>
                    <td>{{ circ.state }}</td>
                    <td>{{ circ.originTczName }}</td>
                    <td>{{ format(circ.originTczDateTime) }}</td>
                    <td>{{ circ.destinationTczName }}</td>
                    <td>{{ format(circ.destinationTczDateTime) }}</td>
                    <td>
                        <button class="btn btn-outline-dark btn-sm" (click)="auditCirculation(circ.id, circ.originNumber)">Audit</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>