<div class="audit-message">
    <div class="panel-circulation-id">
        <label for="circualtionId">Circulation Id</label>
        <input type="text" name="circualtionId" id="circualtionId" [(ngModel)]="circulationId">
    </div>
    <div class="panel-message">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10" #textMessage>{{ message }}</textarea>
    </div>
</div>
<div class="content">
    <div class="search">
        <input type="text" name="search" id="search" placeholder="Buscar..." #searcher>
    </div>
    <div class="table-events">
        <table>
            <thead>
                <tr>
                    <th>TRAIN DETECTOR</th>
                    <th>EVENT TYPE</th>
                    <th>TCZ</th>
                    <th>NODE</th>
                    <th>DIRECTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tc of filteredTrackCircuits; let i = index">
                    <td>{{ tc.trainDetectorMnemonic }}</td>
                    <td>{{ tc.type }}</td>
                    <td>{{ tc.tczName }}</td>
                    <td>{{ tc.nodeName }}</td>
                    <td>{{ tc.direction }}</td>
                    <td>
                        <button (click)="sendPosition(i)">Send</button>
                        <button (click)="setPosition(i)">Copy</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>