* {
    font-family: Tahoma;
    font-size: small;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

tr:hover {
    background-color: antiquewhite;
}

th {
    background-color: aquamarine;
}

input {
    display: block;
    min-width: 300px;
    height: 2rem;
}

textarea {
    display: block;
    min-width: 300px;
}

.content {
    position: relative;
}

